@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@plugin "daisyui";


body {
    font-size: 1.125em;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


label:has(input:checked) {
    text-decoration: line-through;
}




@theme {
    --breakpoint-nt: 85rem;
    /* Primary */
    --Bright-Blue: #3A7CFD;
    
    /* Check Background Gradient */

    --color-Check-Background-Start: #00C2FF;
    --color-Check-Background-End: #AE66FF;

    /* ### Light Theme */
    --color-Very-Light-Gray: #FAFAFA;
    --color-Very-Light-Grayish-Blue: #E3E4F1;
    --color-Light-Grayish-Blue: #D2D3DB;
    --color-Dark-Grayish-Blue: #9394A5;
    --color-Very-Dark-Grayish-Blue: #4D5066;

    /* ### Dark Theme */
    --color-Very-Dark-Blue: #181824;
    --color-Very-Dark-Desaturated-Blue: #25273C;
    --color-Light-Grayish-Blue: #CACDE8;
    --color-Light-Grayish-Blue-hover: #E3E4F1;
    --color-Dark-Grayish-Blue: #777A92;
    --color-Very-Dark-Grayish-Blue-1: #4C4F66;
    --color-Very-Dark-Grayish-Blue-2: #393A4B;

}

input[type='text']:focus-visible {
   outline: none;
}

.bg-light {
    background: url(./assets/bg-mobile-light.jpg) no-repeat;
    background-size: 100% 100%;
    height: 250px;
}

body.dark {
    background-color:#181824;
    width: 100vw;
    height: 100vh;
}

body.light {
   
     background-color: #D2D3DB;
    width: 100vw;
    height: 100vh;
}

.bg-dark {
    background: url(./assets/bg-mobile-dark.jpg) no-repeat;
     background-size: 100% 100%;
    height: 250px;
}


.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  gap: 10px;
  user-select: none;
  font-family: sans-serif;
}

.custom-checkbox .checkmark {
  width: 24px;
  height: 24px;
  border: 1px solid #aaa8a8;
  border-radius: 25px;
  background-color: transparent;
  position: relative;
  transition: background 0.3s ease;
}

/* Quando marcado */
.custom-checkbox input:checked + .checkmark {
  background: linear-gradient(135deg,  #00C2FF,  #AE66FF); /* gradient */
  border: none;
}

/* Ícone de check */
.custom-checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}




@media (min-width: 600px) {
    .bg-light {
        background: url(./assets/bg-mobile-light.jpg) no-repeat;
        height: 200px;
    }

    .bg-dark {
        background: url(./assets/bg-mobile-dark.jpg) no-repeat;
        
        height: 200px;
    }

}


@media (min-width: 1024px) {
    .bg-light {
        background: url(./assets/bg-desktop-light.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }

    .bg-dark {
        background: url(./assets/bg-desktop-dark.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
}